@import "variables";
body {
    background-color: $first-background-color;
}
.mainOne{
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
}

.linePar{
    display: flex;
    gap: 14px;
}
.line{
    width: 35px;
height: 2px;
background: #FFCA42;
margin-top: 28px;
}
.parTextOne{
    font-size: 21px;
    color: #FFF;
}
h1 {
    color: #FFF;
    font-size: 64px;
    max-width: 512px;
}
.mainOneInfo{
    padding-top: 147px;
    padding-left: 23px;
}
.parTextTo{
    max-width: 540px;
}
.btnTo{
    margin-top: 42px;
}