@import "navSection";
@import "variables";
@import "footerSection";
@import "mainOneSection";
@import "mainTooSection";
@import "mainCompanies";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fond-cardo;
    
}
