nav {
  display: flex;
  justify-content: space-between;
  background-color: #1B3764;
  align-items: center;
}

.logoImg {
  display: flex;
  margin: 20px 70px;
}

.ordTod {
  margin-right: 70px;
}

.ordTodBtn {
  width: 222px;
  height: 66px;
  background-color: #FFCA42;
  border: 2px solid #FFCA42;
  font-size: 19px;
  color: #1B3764;
}

.iconNav {
  display: flex;
  margin-left: 35px;
  margin-top: 12px;
  gap: 10px;
}

.navIcon {
  color: #f6f8fc;
  font-family: Inter;
  font-size: 17px;
  background-color: #1B3764;
  border: #1B3764;
  margin-left: 30px;
}

.navIcon:hover {
  color: #FFCA42;
}

.iconImgIcon {
  padding: 14px 14px;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border: 2px solid #fff;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 75px;
  padding-top: 30px;
  background-color: #1B3764;
}

.footerBtn button {
  background-color: #1B3764;
  width: 55px;
  height: 55px;
  border: 1px solid #FFCA42;
  margin-top: 20px;
}

.footerBtn button:not(:first-child) {
  margin-left: 10px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

p {
  color: #b4c7e7;
  font-size: 18px;
  margin-top: 15px;
}

.addressInfo {
  display: flex;
  gap: 28px;
}

.mailInfo {
  display: flex;
  gap: 50px;
}

.phoneInfo {
  display: flex;
  gap: 35px;
}

li {
  color: #b4c7e7;
  font-family: Inter;
  font-size: 18px;
  line-height: 2;
}

.liText {
  color: #fff;
  font-size: 24px;
  margin-bottom: 24px;
}

span {
  margin-right: 5px;
  color: #FFCA42;
}

body {
  background-color: #1B3764;
}

.mainOne {
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.linePar {
  display: flex;
  gap: 14px;
}

.line {
  width: 35px;
  height: 2px;
  background: #FFCA42;
  margin-top: 28px;
}

.parTextOne {
  font-size: 21px;
  color: #fff;
}

h1 {
  color: #fff;
  font-size: 64px;
  max-width: 512px;
}

.mainOneInfo {
  padding-top: 147px;
  padding-left: 23px;
}

.mainOneImg {
  padding-right: 23px;
}

.parTextTo {
  max-width: 540px;
}

.btnTo {
  margin-top: 42px;
}

a {
  color: #fff;
  margin-left: 50px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
}

.pagLenRat {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}

.circ {
  display: flex;
  align-items: center;
  gap: 10px;
}

.poolCirc {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: #FFCA42;
  margin-top: 10px;
}

.pagLenRatText {
  font-size: 24px;
  color: #fff;
}

.pagLenRatPar {
  font-size: 17px;
  padding-left: 25px;
}

.mainToo {
  background: #fff;
}

.authorText {
  font-size: 42px;
  color: #1B3764;
}

.divMainToo {
  width: 50px;
  height: 3px;
  background: #FFCA42;
  margin-left: 48%;
  margin-top: 23px;
}

.upMainToo {
  padding-top: 65px;
  text-align: center;
}

.centerRight {
  display: flex;
  gap: 30px;
}

.centerUpmainToo {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 60px;
}

.mainTooBookInfo {
  padding-top: 38px;
}

.atomOneText {
  color: #1B3764;
  font-size: 32px;
}

.textPrice {
  color: #FFCA42;
  font-size: 21px;
}

.bigText {
  max-width: 250px;
  color: #969aa0;
  font-family: Inter;
  font-size: 19px;
}

.poolCiclPar {
  display: flex;
  gap: 10px;
}

.poolCirc2 {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: #FFCA42;
  margin-top: 24px;
}

.printBook {
  color: #1B3764;
  font-size: 24px;
}

.centerDownMainToo {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  position: relative;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 140px;
}

.imgDown {
  position: absolute;
  top: 44%;
  left: 13%;
  transform: translate(-50%, -50%);
}

.rightDounImg {
  padding-top: 110px;
}

.leftDownInfo {
  margin-top: 90px;
}

.divMainToo2 {
  width: 50px;
  height: 3px;
  background: #FFCA42;
  margin-top: 23px;
}

.bigText2 {
  color: #969aa0;
  font-family: Inter;
  font-size: 19px;
  line-height: 34.2px;
  max-width: 550px;
  margin-top: 32px;
}

.numbersTextInfo {
  display: flex;
  margin-top: 34px;
}

.numberTexTex {
  color: #1B3764;
  font-size: 54px;
}

.smoleText {
  color: #969aa0;
  font-family: Inter;
  font-size: 17px;
}

.numberTextMeed {
  width: 1px;
  height: 98px;
  background: #FFCA42;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.scanText {
  display: flex;
  background: #1B3764;
  gap: 40px;
  margin-top: 54px;
  margin-bottom: 30px;
  max-width: 465px;
}

.scanImg {
  padding: 16px 0 16px 20px;
}

.scanParText {
  color: #FFCA42;
  font-size: 22px;
}

.scanMailPhone {
  color: #b4c7e7;
  font-family: Inter;
  font-size: 18px;
}

.scanParInfo {
  margin-top: 15px;
}

.mainCompanies {
  background-color: #fff;
}

.mainCompaniesUp {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  margin-left: 78px;
  margin-right: 78px;
  text-align: center;
  padding-bottom: 130px;
}

.mainComSmole {
  color: #1b3764;
  font-size: 24px;
}

.mainComBig {
  color: #969aa0;
  text-align: center;
  font-family: Inter;
  font-size: 19px;
  max-width: 297px;
  line-height: 28.5px;
}

.mainCompaniesDown {
  display: flex;
  justify-content: space-between;
  background-color: #1B3764;
  padding: 70px;
}

.mainComDownTitle {
  color: #fff;
  font-size: 45px;
  padding-top: 20px;
}

.mainComDownDiv {
  width: 50px;
  height: 3px;
  background: #FFCA42;
  margin-top: 24px;
}

.mainComDownParagraf {
  max-width: 540px;
  color: #b4c7e7;
  font-family: Inter;
  font-size: 19px;
  line-height: 28.5px;
  margin-top: 27px;
}

.mainComDownInfo {
  padding-top: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cardo;
}

/*# sourceMappingURL=style.css.map */
